@import 'init'
@import "compass/css3/selection"

$accent-color: hsla(212, 100%, 50%, 1)
$text-color: hsla(212, 10%, 30%, 1)

// Text selection color
*
  +selection(desaturate(tint($accent-color, 85%), 40%), tint($text-color, 10%))

html
  font-family: 'Fira Mono', Consolas, monaco, monospace
  color: $text-color

h1, h2, h3, h4, h5, h6
  font-weight: normal

$wrapper-mid-margin: .0870

.wrapper
  +clearfix
  +at(1)
    padding: 0 30px
  +between(2, 4)
    margin: 0 $wrapper-mid-margin * 100%
  +from(5)
    margin: 0 auto
    max-width: 1224px -(1224px * 2 * $wrapper-mid-margin)

.site-title
  // &.site-title-home
  //   +to(2)
  //     +trailer(-6, $ms-base, margin)
  //   +from(3)
  //     +trailer(-6, $ms-base-next, margin)
  a
    &:link, &:visited
      text-decoration: none
      color: $text-color
      .no-ismobile &, .ismobile &, 
        text-decoration: none
        color: $text-color
    &:focus, &:hover
      .no-ismobile &
        color: tint($text-color, 20%)
    &:active
      color: shade($accent-color, 30%)
      text-decoration: underline
      .no-ismobile &, .ismobile &, 
        color: shade($accent-color, 30%)
        text-decoration: underline

a
  &:link, &:visited
    nav &
      color: $text-color
      .no-ismobile &
        text-decoration: none
      .ismobile &
        text-decoration: underline
    article &
      color: desaturate(tint($accent-color, 5%), 50%)
      text-decoration: underline
  &:focus, &:hover
    .no-ismobile &
      color: tint($text-color, 20%)
    nav &
      .no-ismobile &
        text-decoration: underline
  &:active
    color: shade($accent-color, 30%)
    text-decoration: underline
    .no-ismobile &, .ismobile &, 
      color: shade($accent-color, 30%)
      text-decoration: underline

.vimeo
  position: relative
  padding-bottom: 56.25%
  padding-top: 30px
  height: 0
  overflow: hidden
  +to(2)
    +leader(2, $ms-base, margin)
    +trailer(2, $ms-base, margin)
  +from(3)
    +leader(2, $ms-base-next, margin)
    +trailer(2, $ms-base-next, margin)
  iframe
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%

// nav dl
//   +display-flex
//   +flex-direction(column)
//   .year-box
//     +display-flex
//     +flex-direction(row-reverse)
//     +to(2)
//       +leader(2, $ms-base, margin)
//     +from(3)
//       +leader(2, $ms-base-next, margin)
//     .year-image
//       +flex-grow(1)
//       +display-flex
//       +flex-direction(column)
//       dt
//         text-align: right
//     .pieces
//       +flex-basis(220px)

nav dl
  +leader(2, $ms-base, margin)
  .year-box
    +clearfix
    +to(2)
      +leader(3, $ms-base, margin)
    +from(3)
      +leader(3, $ms-base-next, margin)
    .year-image
      float: right
      width: calc(100% - 220px)
      dt
        text-align: right
        background-color: white
    .pieces
      float: right
      width: 220px

dd.featured-image
  &.hidden-featured-image
    // opacity: 0
  +single-transition(opacity, .5s, ease-in)
  background-size: cover
  // background: url(http://placehold.it/160x90) no-repeat center center
  background-color: black
  $viewport-height-adj: calc(100vh - 15em)
  +at(1)
    display: none
  +at(2)
    max-height: 300px - 18px
  +from(3)
    min-height: 300px - 18px
    max-height: 300px - 18px
    +breakpoint(min-height 544px)
      min-height: $viewport-height-adj
      max-height: $viewport-height-adj

nav dl
  dd
    margin: 0
  .year-box
    &:first-child
      margin-top: 0
    .year-image
      // +from(3)
      +leader(-3, $ms-base-next, margin)
      dt
        text-align: right
        +leader(3, $ms-base-next, padding)
      dd.featured-image
    .pieces
      // margin-top: 2em 
      +to(2)
        +leader(2, $ms-base, margin)
      +from(3)
        +leader(2, $ms-base-next, margin)
        dd

.english
  opacity: .6

footer
  padding-bottom: 4em